# Environment variables
.env

# Node modules
node_modules/

# NPM lockfile
package-lock.json

# Hardhat build files
cache/
artifacts/

# VS Code settings
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*

# OS files
.DS_Store
Thumbs.db
